## Machine Learning - Prova

**Nome do Aluno**: <font color='red'>Arthur Rizzo</font>

Esta prova consiste em uma parte conceitual e uma parte prática.

Você deve submeter o trabalho via Blackboard. É de sua responsabilidade garantir que o arquivo correto foi enviado.

Se você precisou adicionar arquivos extras à essa prova, assegure-se de que você os está enviando também.

A prova é individual e com consulta. Faça o seu trabalho de maneira ética!

---
## Parte conceitual (4 pts)

Vemos abaixo uma seleção de tópicos em Machine Learning e uma seleção de interlocutores. Escolha 2 tópicos, 2 interlocutores, e a associação 1-para-1 entre tópicos e interlocutores. Explique os tópicos escolhidos para os interlocutores correspondentes.

Interlocutores:

- O Marcos Lisboa
    - Economista, conhece muito bem estatística, interessado pelos problemas economicos do Brasil.
- Um aluno de colegial prestes a se formar
    - Tem alguma noção de matemática, geometria, estatística, mas muito simples.
- Um entrevistador de emprego de uma empresa renomada (e.g. FAANG)
    - É um engenheiro experiente, e sabe bem os conceitos todos, mas quer saber se você sabe explicar de modo coerente, enxuto e completo. Sem encher linguiça.
- Um professor de Matemática da Variação
    - Domina cálculo multivariado, estatística, programação. Quer conhecer mais a fundo o assunto que você vai explicar, e a conexão com a disciplina dele.
- Um professor de GDE
    - Entende matemática e estatística de colegial e um pouco de Cálculo. Interessado em problemas da sociedade.
- Um médico oncologista
    - Conhece estatística surpreendemente bem, interessado em problemas de Medicina.

    
Tópicos:

- Árvore de decisão
- Machine Learning e sociedade
- Regressão linear
- Validação cruzada para ajuste de hiperparâmetros
- Support vector machines
- Curva ROC
- Gradient descent
- Sub-ajuste (underfitting) e sobreajuste (overfitting)
- Precision versus recall
- Seleção de variáveis com Lasso

Use gráficos, tabelas, formulas, código, o que você quiser para auxiliar na sua explicação. Use quantas células quiser do notebook. Se precisar adicionar um diagrama ilustrativo, pode usar o https://www.draw.io/. Exporte seu desenho para PNG e inclua no notebook com o código-exemplo desta célula:

![exemplo](exemplo.png "Exemplo de diagrama PNG")

Neste caso, <font color='red'>não se esqueça de submeter também seu arquivo de imagem!</font>

Rubrica de avaliação por par conceito-interlocutor:


| Conceito | Nota | Definição |
|----------|------|-----------|
| I        | 0.0  | Não fez, ou escreveu coisas sem sentido. |
| D        | 0.5  | Usou termos técnicos e matemática não disponível ao interlocutor. Faltam partes fundamentais do conceito. Não construiu uma narrativa de interesse ao interlocutor. |
| C        | 1.0  | Construiu uma explicação correta da mecânica do conceito, sem uma intuição de por que funciona. Faltam ideias importantes, mas não essenciais do conceito. Não construiu uma narrativa de interesse ao interlocutor. |
| B        | 1.5  | Construiu uma explicação da mecânica e da intuição por trás do modelo. Faltam ideias importantes, mas não essenciais do conceito, ou tem excesso de ideias não tão centrais à explicação (vulgo “encheu linguiça”). |
| A        | 2.0  | Construiu uma explicação bem completa e enxuta da mecânica e da intuição por trás do conceito. Trouxe uma narrativa que interesse ao interlocutor. |

### Respostas

---
Tópico: <font color=red>Curva ROC</font>

Interlocutor: <font color=red>Um médico oncologista</font>

Resposta:

algumas notações:
TP: True Positive (positivo verdadeiro)
FP: False Positive (positivo falso)
TN: True Negative (negativo verdadeiro)
FN: False Negative (negativo falso)

Sobre a Receiver Operating Characterístic (ROC)

A primeira coisa que precisamos entender é como chegamos na representação gráfica. 
No lado das abscissas, temos o False Positive Rate(FPR) e, do lado das ordenadas, temos o True Positive Rate(TPR). 
O TPR nada mais é do que o Recall (revocação), ou seja, das ocorrências positivas, quantas foram percebidas?
TPR = TP/(TP+FN)

O FPR visa medir o oposto, ou seja, das ocorências negativas, quantas foram percebidas como positivas?
FPR = FP/(FP+TN)
O FPR também é definido como sendo complementar do True Negative Rate(TNR). Ou seja, FPR = 1-TNR. O TNR é conhecido com o especificidade, que é a fração de negativos verdadeiros que foram identificados como negativos pelo agente classificador. 

Em geral, se faz necessário escolher entre qual métrica dar mais importância. Por exemplo, em um exame preliminar de cancêr de mama é melhor ter um TPR bem alto mesmo que a custas de um FPR alto também. Enquanto num exame para decidir sobre a realização ou não de uma masectomia, seria interessante ter um FPR mais baixo, apesar de que o TPR é o mais importante, o FPR passa a ter muito mais peso do que para o exame preliminar. 

Como sabemos que não vivemos no mundo ideal, sabemos que não é possível ter um resultado perfeito para ambas as métricas. Para FPR o ideal seria ter 0% e para o TPR 100%. Com isso, num gráfico de TPR(y) vs FPR(x), caso tivessemos um classificador completamente aleatório veriamos uma linha reta indo do ponto (0,0) ao (1,1), efetivamente cortando ao meio o quandrado formado pelos valores extremos de cada métrica. E um classificador perfeito seria representado pela reta unindo os pontos (0,0) e (0,1) e (1, 1). Em outras palavras, gostariamos de maximizar a área por de baixo da curva, que no caso máximo seria 1. 

Uma característica curiosa da ROC é que caso tenhamos algum algoritmo/sistema que é pior que um classificador aleatório, ou seja, opera com a área ROC-AUC abaixo de 0.5, uma alterniativa seria justamente inverter os sinais dele e assim obter um resultado melhor.

---
Tópico: <font color=red>Precision versus recall</font>

Interlocutor: <font color=red>Um professor de GDE</font>

Resposta:

Bom, primeiro precisamos entender por que é de interesse à sociedade este conhecimento.
Uma das principais formas de interagirmos com a sociedade onde vivemos é através do acesso à informação, seja via mídias tradicionais ou não. Somos bombardeados com números, estatísticas que muitas vezes nem se quer faze sentido. 
Estamos presenciando isso diariamente com a pandamia no noticiário. 
Bom, aí que entra entendermos um pouco de estatística simples tanto para possibilitar que leiamos os estudos científicos a respeito da pandemia, como para compreendermos alguns termos usados na mídia. 
Um bem básico, mas interessante ponto é a relação entre o Precision (precisão) e o Recall(revocação). 
A precisão mede, a grosso modo, quanto dos valores descritos como positivos de fato são positivos(TP). 
representado pela equação TP/(TP+FP) . sendo FP os valores erroneamente indentificados como positivos. 
o Recall mede, a grosso modo, o % de valores que foram detectados como positivos dentro do universo dos verdadeiramente positivos. Representado pela equação TP/(TP+FN)


Num mundo ideal(claramente não este), iriamos tentar ter 100% de Precision e 100% de Recall. No entanto, isso não é possível, dado que nenhum modelo é perfeito, sempre haverá um momento em que para se obter um % maior de Precision, por exemplo, haverá uma penalidade significativa no % de Recall. 

Saber a qual dar mais relevância é importante para poder contruir algoritmos bons, e isso depende muito da aplicação.
Vamos a alguns exemplos, digamos que queremos um sistema capaz de nos dizer se alguém está com Covid-19. O que é mais importante, que este modelo (1)acerte o maior número de contaminados ou que (2)mesmo deixando passar alguns contaminados, quando acusase contaminação seria mais certeiro? Digamos que o objetivo deste teste é para que possamos rapidamente saber se uma pessoa está contaminada e poder isolar essa pessoa enquanto as pessoas que estão sem o vírus podem circular livremente. Ora, neste caso, seria interessante darmos ênfase ao (1), certo? 
Bom, claro que na vida real podemos trabalhar com alguns cenários distintos, mas, por efeito de simplicidade, vamos assumir que o melhor neste caso seria a primeira alternativa. Neste caso, deveriamos dar um peso maior para este resultado. Por acaso, este resultado é medido através do Recall. 
No entanto, como podemos ver pelo probleminha descrito, um dos objetivos é deixar as pessoas circularem ambientes públicos com segurança. Por tanto, de nada adianta um algoritmo que diga que todo mundo deve ficar em casa e ponto final, neste sentido, é interessante termos um precision mínimo. 
Com isso, definimos um precision minimo de 50% e um recall de 95%, por exemplo. É possível traçarmos um gráfico com a relação Precision vs Recall, nele seria possível identifcarmos a escala de trade-offs e verificar se atingir estes requisitos mínimos de precision e recall seriam possível, lembrando de dar ênfase para o recall, dada a natureza do problema. 

Outro exemplo legal é a taxa de imunização de uma vacina... será que ela funciona mesmo? Neste caso, o que seria mais importante, Precision ou Recall? 
Claro que do ponto de vista da vacina o mais importante é o Recall, mas, do ponto de vista da ciência por trás, é mais interessante sabermos quando que um paciente foi imunizado de verdade, com o mínimo de falsos positivos, para ter uma noção mais conservadora da efetividade da vacina.

---
## Parte prática (6 pts)

O arquivo `zoo.csv` contém informações sobre animais, conforme descrito abaixo:

1. Title: Zoo database

2. Source Information
   -- Creator: Richard Forsyth
   -- Donor: Richard S. Forsyth 
             8 Grosvenor Avenue
             Mapperley Park
             Nottingham NG3 5DX
             0602-621676
   -- Date: 5/15/1990
 
3. Past Usage:
   -- None known other than what is shown in Forsyth's PC/BEAGLE User's Guide.

4. Relevant Information:
   -- A simple database containing 17 Boolean-valued attributes.  The "type"
      attribute appears to be the class attribute.  Here is a breakdown of
      which animals are in which type: (I find it unusual that there are
      2 instances of "frog" and one of "girl"!)

      Class# Set of animals:
      ====== ===============================================================
           1 (41) aardvark, antelope, bear, boar, buffalo, calf,
                  cavy, cheetah, deer, dolphin, elephant,
                  fruitbat, giraffe, girl, goat, gorilla, hamster,
                  hare, leopard, lion, lynx, mink, mole, mongoose,
                  opossum, oryx, platypus, polecat, pony,
                  porpoise, puma, pussycat, raccoon, reindeer,
                  seal, sealion, squirrel, vampire, vole, wallaby,wolf
           2 (20) chicken, crow, dove, duck, flamingo, gull, hawk,
                  kiwi, lark, ostrich, parakeet, penguin, pheasant,
                  rhea, skimmer, skua, sparrow, swan, vulture, wren
           3 (5)  pitviper, seasnake, slowworm, tortoise, tuatara 
           4 (13) bass, carp, catfish, chub, dogfish, haddock,
                  herring, pike, piranha, seahorse, sole, stingray, tuna
           5 (4)  frog, frog, newt, toad 
           6 (8)  flea, gnat, honeybee, housefly, ladybird, moth, termite, wasp
           7 (10) clam, crab, crayfish, lobster, octopus,
                  scorpion, seawasp, slug, starfish, worm

5. Number of Instances: 101

6. Number of Attributes: 18 (animal name, 15 Boolean attributes, 2 numerics)

7. Attribute Information: (name of attribute and type of value domain)
   1. animal name:      Unique for each instance
   2. hair		Boolean
   3. feathers		Boolean
   4. eggs		Boolean
   5. milk		Boolean
   6. airborne		Boolean
   7. aquatic		Boolean
   8. predator		Boolean
   9. toothed		Boolean
  10. backbone		Boolean
  11. breathes		Boolean
  12. venomous		Boolean
  13. fins		Boolean
  14. legs		Numeric (set of values: {0,2,4,5,6,8})
  15. tail		Boolean
  16. domestic		Boolean
  17. catsize		Boolean
  18. type		Numeric (integer values in range [1,7])

8. Missing Attribute Values: Some values are missing!

9. Class Distribution: Given above

Sua tarefa é construir um modelo que prevê o tipo de animal (coluna `type`) baseado nos demais atributos, e com base nesse modelo determinar a ordem de relevancia dos atributos para identificar o tipo de animal.

Tendo identificado a ordem de relevancia dos atributos, determine o conjunto minimo de atributos mais relevantes que permita que o modelo tenha um desempenho de $90\%$ ou mais do desempenho obtido com o conjunto completo de atributos. Por exemplo, se a acurácia do modelo com o conjunto completo de atributos foi de $95\%$, determine o conjunto mínimo de atributos que atinja $0.9 \times 0.95 = 0.855 = 85.5\%$ de acurácia.

Rubrica de avaliação:

I - Código não roda, ou roda mas é nonsense, e não tem análises que façam sentido.

D - A análise não está completa, ou o código está bagunçado, mas pelo menos não é nonsense.

C - Conseguiu fazer o modelo preditivo com o preprocessamento adequado

B - Conseguiu determinar a importancia das features e determinar o conjunto minimo pedido

A - Construiu um preprocessamento sofisticado - explorou a documentação do scikit-learn para encontrar alternativas aos métodos simples descritos em aula. Escolheu features que fazem sentido para o modelo inicial. Obteve conclusões fundamentadas em experimentação.

In [3]:
# imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import time


from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

In [29]:
# load data
ZOO_FILE = 'zoo.csv'

def load_data(file=ZOO_FILE):
    return pd.read_csv(file)


zoo = load_data()

In [30]:
zoo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    101 non-null    object
 1   hair      93 non-null     float64
 2   feathers  92 non-null     float64
 3   eggs      90 non-null     float64
 4   milk      83 non-null     float64
 5   airborne  94 non-null     float64
 6   aquatic   94 non-null     float64
 7   predator  88 non-null     float64
 8   toothed   88 non-null     float64
 9   backbone  91 non-null     float64
 10  breathes  91 non-null     float64
 11  venomous  93 non-null     float64
 12  fins      95 non-null     float64
 13  legs      101 non-null    int64
 14  tail      84 non-null     float64
 15  domestic  95 non-null     float64
 16  catsize   90 non-null     float64
 17  type      101 non-null    int64
dtypes: float64(15), int64(2), object(1)
memory usage: 14.3+ KB

In [31]:
correlation_matrix=zoo.corr()
correlation_matrix

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
hair,1.000000,-0.423207,-0.825100,0.890780,-0.236310,-0.464397,-0.219115,0.478630,0.168713,0.380617,-0.131260,-0.268449,0.433810,0.061546,0.229283,0.479383,-0.565564
feathers,-0.423207,1.000000,0.414388,-0.386986,0.592081,-0.080073,-0.180278,-0.631527,0.244339,0.229516,-0.134535,-0.228148,-0.202959,0.280692,0.066180,-0.112709,-0.202064
eggs,-0.825100,0.414388,1.000000,-0.944856,0.361129,0.346119,0.010034,-0.605102,-0.348268,-0.341076,0.056552,0.163984,-0.199739,-0.352204,-0.065465,-0.485181,0.665519
milk,0.890780,-0.386986,-0.944856,1.000000,-0.344605,-0.390278,-0.027429,0.568670,0.375384,0.428121,-0.242997,-0.153050,0.219469,0.213504,0.225892,0.604728,-0.727347
airborne,-0.236310,0.592081,0.361129,-0.344605,1.000000,-0.157665,-0.324867,-0.590571,-0.128478,0.267112,-0.021323,-0.253155,0.090018,-0.116706,0.040996,-0.373274,0.057839
aquatic,-0.464397,-0.080073,0.346119,-0.390278,-0.157665,1.000000,0.380308,0.068869,0.006977,-0.625543,0.205627,0.632988,-0.397083,-0.017307,-0.247296,-0.143444,0.341280
predator,-0.219115,-0.180278,0.010034,-0.027429,-0.324867,0.380308,1.000000,0.122126,-0.012563,-0.329413,0.105409,0.184522,-0.101996,0.058834,-0.336105,0.094920,0.114315
toothed,0.478630,-0.631527,-0.605102,0.568670,-0.590571,0.068869,0.122126,1.000000,0.582755,-0.119523,-0.091778,0.373979,-0.161178,0.280211,0.096528,0.311317,-0.445117
backbone,0.168713,0.244339,-0.348268,0.375384,-0.128478,0.006977,-0.012563,0.582755,1.000000,0.181818,-0.246987,0.228571,-0.440320,0.781753,0.108805,0.376924,-0.851402
breathes,0.380617,0.229516,-0.341076,0.428121,0.267112,-0.625543,-0.329413,-0.119523,0.181818,1.000000,-0.133005,-0.597581,0.273491,0.044965,0.118336,0.163303,-0.466407
venomous,-0.131260,-0.134535,0.056552,-0.242997,-0.021323,0.205627,0.105409,-0.091778,-0.246987,-0.133005,1.000000,0.002863,0.022553,-0.082467,-0.098082,-0.169589,0.325584
fins,-0.268449,-0.228148,0.163984,-0.153050,-0.253155,0.632988,0.184522,0.373979,0.228571,-0.597581,0.002863,1.000000,-0.605436,0.195926,-0.108136,0.004531,0.105041
legs,0.433810,-0.202959,-0.199739,0.219469,0.090018,-0.397083,-0.101996,-0.161178,-0.440320,0.273491,0.022553,-0.605436,1.000000,-0.419275,0.065787,0.097106,0.131693
tail,0.061546,0.280692,-0.352204,0.213504,-0.116706,-0.017307,0.058834,0.280211,0.781753,0.044965,-0.082467,0.195926,-0.419275,1.000000,0.016301,0.269360,-0.633407
domestic,0.229283,0.066180,-0.065465,0.225892,0.040996,-0.247296,-0.336105,0.096528,0.108805,0.118336,-0.098082,-0.108136,0.065787,0.016301,1.000000,-0.019580,-0.189360
catsize,0.479383,-0.112709,-0.485181,0.604728,-0.373274,-0.143444,0.094920,0.311317,0.376924,0.163303,-0.169589,0.004531,0.097106,0.269360,-0.019580,1.000000,-0.539219
type,-0.565564,-0.202064,0.665519,-0.727347,0.057839,0.341280,0.114315,-0.445117,-0.851402,-0.466407,0.325584,0.105041,0.131693,-0.633407,-0.189360,-0.539219,1.000000

In [32]:
correlation_matrix["type"].sort_values(ascending=False)

type        1.000000
eggs        0.665519
aquatic     0.341280
venomous    0.325584
legs        0.131693
predator    0.114315
fins        0.105041
airborne    0.057839
domestic   -0.189360
feathers   -0.202064
toothed    -0.445117
breathes   -0.466407
catsize    -0.539219
hair       -0.565564
tail       -0.633407
milk       -0.727347
backbone   -0.851402
Name: type, dtype: float64

In [33]:
sample_incomplete_rows = zoo[zoo.isnull().any(axis=1)]
sample_incomplete_rows

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,0.0,0.0,4,NaN,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,NaN,0.0,1.0,NaN,1.0,0.0,0.0,4,1.0,0.0,1.0,1
3,bear,NaN,0.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,NaN,0.0,1.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,4,1.0,0.0,1.0,1
5,buffalo,1.0,0.0,0.0,NaN,0.0,0.0,0.0,1.0,1.0,NaN,0.0,0.0,4,NaN,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,NaN,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,NaN,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,NaN,NaN,1.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [415]:
df = zoo.copy()

In [416]:
item = "hair"
df[["type","animal", item]]

     type    animal  hair
0       1  aardvark   1.0
1       1  antelope   1.0
2       4      bass   0.0
3       1      bear   NaN
4       1      boar   1.0
..    ...       ...   ...
96      1   wallaby   1.0
97      6      wasp   1.0
98      1      wolf   1.0
99      7      worm   0.0
100     2      wren   0.0

[101 rows x 3 columns]

def fill(dataframe, attribute):
    measured_counter = 0
    positive_counter = 0
    filler = 0 
    print(len(dataframe[attribute]))
    for i in range(len(dataframe[attribute])):
        if dataframe[attribute][i] == 1:
            measured_counter += 1
            positive_counter += 1
        elif dataframe[attribute][i] == 0:
            measured_counter += 1
        else:
            pass
    if positive_counter/measured_counter >= 0.5:
        filler = 1
    else:
        filler = 0 
    
    filled_df = dataframe[attribute].fillna(filler)
    print(filled_df)
    return filler

def filler(database):
    
    attributes_list = ["hair", "feathers", "eggs", "milk", "airborne", "aquatic", "predator", 
                   "toothed", "backbone", "breathes", " venomous", "fins",
                  "tail", "domestic", "catsize"]
    df = database.copy()
    
    type_1 = df[df["type"] == 1]
    type_2 = df[df["type"] == 2]
    type_3 = df[df["type"] == 3]
    type_4 = df[df["type"] == 4]
    type_5 = df[df["type"] == 5]
    type_6 = df[df["type"] == 6]
    type_7 = df[df["type"] == 7]
    
    new_df = pd.DataFrame()
    
    for i in range(len(attributes_list)):
        type_1_filled = type_1[attributes_list[i]].fillna(fill(type_1, attributes_list[i]))
        new_df.append(type_1_filled, ignore_index=True)
        
    return new_df
"""        new_df.append(type_1["type"], ignore_index=True)
        type_2_filled = fill(type_2, attributes[i])
        new_df.append(type_2_filled, ignore_index=True)
        new_df.append(type_2["type"], ignore_index=True)
        type_3_filled = fill(type_3, attributes[i])
        new_df.append(type_3_filled, ignore_index=True)
        new_df.append(type_3["type"], ignore_index=True)
        type_4_filled = fill(type_4, attributes[i])
        new_df.append(type_4_filled, ignore_index=True)
        new_df.append(type_4["type"], ignore_index=True)
        type_5_filled = fill(type_5, attributes[i])
        new_df.append(type_5_filled, ignore_index=True)
        new_df.append(type_5["type"], ignore_index=True)
        type_6_filled = fill(type_6, attributes[i])
        new_df.append(type_6_filled, ignore_index=True)
        new_df.append(type_6["type"], ignore_index=True)
        type_7_filled = fill(type_7, attributes[i])
        new_df.append(type_7_filled, ignore_index=True)
        new_df.append(type_7["type"], ignore_index=True)"""
        
    
"""#    extra = "legs"
#    new_df.append(df[extra])
    return new_df"""

In [417]:
#type_index = 1 # type 1, 2, 3, 4, 5, 6, 7
#df_index = "hair" # "hair", "feathers", "eggs", "milk", "airborne", "aquatic", "predator", "toothed", "backbone", "breathes", " venomous", "fins", "tail", "domestic", "catsize"

def filler_bruto(database, t_index, df_index, filler):

    for i in range(len(database["type"])):

        if database["type"][i] == t_index:
            if database[df_index][i] == 1:
                pass
            elif database[df_index][i] == 0:
                pass
            else: 
                database[df_index][i] = filler
                print(database[df_index][i])
    return database

In [418]:
# para descobrir qual filler usar, testar para cada type e cada attributo que se deseja preencher
# em seguida utilize a função filler_bruto prestando atenção nos argumentos da função!

dataframe = df

measured_counter = 0
positive_counter = 0
filler = 0 
type_index = 3
attribute = "eggs"

for i in range(len(dataframe["type"])):
    if dataframe["type"][i] == type_index:
        if dataframe[attribute][i] == 1:
            measured_counter += 1
            positive_counter += 1
        elif dataframe[attribute][i] == 0:
            measured_counter += 1
        else:
            pass
if positive_counter/measured_counter >= 0.5:
    filler = 1
else:
    filler = 0 
    
print(filler)

1

In [420]:
# fill type 1

type_index = 1
df_index = ["hair","feathers", "eggs", "milk", "airborne",
            "aquatic", "predator", "toothed", "backbone", "breathes", 
            "venomous", "fins", "tail", "domestic", "catsize"]
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[0], filler=1) #hair
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[1], filler=0) # feathers
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[2], filler=0) #eggs
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[3], filler=1) #milk
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[4], filler=0) # airborne
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[5], filler=0) #aquatic
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[6], filler=1) # predator
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[7], filler=1) # toothed
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[8], filler=1) # backbone
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[9], filler=1) # breathes
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[10], filler=0) # venomous
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[11], filler=0) # fins
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[12], filler=1) # tail
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[13], filler=0) # domestic
type_1_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[14], filler=1) # catsize

type_1_filled

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
2,bass,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0,4
3,bear,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,1.0,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,NaN,NaN,1.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [422]:
# fill type 2

type_index = 2
df_index = ["hair","feathers", "eggs", "milk", "airborne",
            "aquatic", "predator", "toothed", "backbone", "breathes", 
            "venomous", "fins", "tail", "domestic", "catsize"]
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[0], filler=0) #hair
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[1], filler=1) #feathers
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[2], filler=1) #eggs
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[3], filler=0) #milk
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[4], filler=1) #airborne
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[5], filler=0) #aquatic
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[6], filler=0) #predator
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[7], filler=0) #toothed
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[8], filler=1) #backbone
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[9], filler=1) #breathes
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[10], filler=0) #venomous
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[11], filler=0) #fins
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[12], filler=1) #tail
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[13], filler=0) #domestic
type_2_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[14], filler=0) #catsize

type_2_filled

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
2,bass,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0,4
3,bear,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,1.0,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [424]:
# fill type 3

type_index = 3
df_index = ["hair","feathers", "eggs", "milk", "airborne",
            "aquatic", "predator", "toothed", "backbone", "breathes", 
            "venomous", "fins", "tail", "domestic", "catsize"]
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[0], filler=0) #hair
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[1], filler=0) #feathers
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[2], filler=1) #eggs
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[3], filler=0) #milk
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[4], filler=0) #airborne
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[5], filler=0) #aquatic
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[6], filler=1) #predator
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[7], filler=1) #toothed
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[8], filler=1) #backbone
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[9], filler=1) #breathes
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[10], filler=0) #venomous
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[11], filler=0) #fins
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[12], filler=1) #tail
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[13], filler=0) #domestic
type_3_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[14], filler=0) #catsize

type_3_filled

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
2,bass,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0,4
3,bear,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,1.0,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [426]:
# fill type 4

type_index = 4
df_index = ["hair","feathers", "eggs", "milk", "airborne",
            "aquatic", "predator", "toothed", "backbone", "breathes", 
            "venomous", "fins", "tail", "domestic", "catsize"]
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[0], filler=0) #hair
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[1], filler=0) #feathers
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[2], filler=1) #eggs
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[3], filler=0) #milk
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[4], filler=0) #airborne
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[5], filler=1) #aquatic
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[6], filler=1) #predator
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[7], filler=1) #toothed
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[8], filler=1) #backbone
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[9], filler=0) #breathes
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[10], filler=0) #venomous
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[11], filler=1) #fins
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[12], filler=1) #tail
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[13], filler=0) #domestic
type_4_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[14], filler=0) #catsize

type_4_filled

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
2,bass,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0,4
3,bear,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,1.0,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [428]:
# fill type 5

type_index = 5
df_index = ["hair","feathers", "eggs", "milk", "airborne",
            "aquatic", "predator", "toothed", "backbone", "breathes", 
            "venomous", "fins", "tail", "domestic", "catsize"]
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[0], filler=0) #hair
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[1], filler=0) #feathers
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[2], filler=1) #eggs
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[3], filler=0) #milk
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[4], filler=0) #airborne
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[5], filler=1) #aquatic
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[6], filler=1) #predator
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[7], filler=1) #toothed
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[8], filler=1) #backbone
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[9], filler=1) #breathes
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[10], filler=0) #venomous
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[11], filler=0) #fins
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[12], filler=0) #tail
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[13], filler=0) #domestic
type_5_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[14], filler=0) #catsize

type_5_filled

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
2,bass,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0,4
3,bear,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,1.0,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [430]:
# fill type 6

type_index = 6
df_index = ["hair","feathers", "eggs", "milk", "airborne",
            "aquatic", "predator", "toothed", "backbone", "breathes", 
            "venomous", "fins", "tail", "domestic", "catsize"]
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[0], filler=0) #hair
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[1], filler=0) #feathers
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[2], filler=1) #eggs
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[3], filler=0) #milk
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[4], filler=1) #airborne
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[5], filler=0) #aquatic
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[6], filler=0) #predator
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[7], filler=0) #toothed
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[8], filler=0) #backbone
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[9], filler=1) #breathes
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[10], filler=0) #venomous
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[11], filler=0) #fins
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[12], filler=0) #tail
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[13], filler=0) #domestic
type_6_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[14], filler=0) #catsize

type_6_filled

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
2,bass,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0,4
3,bear,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,1.0,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [460]:
# para descobrir qual filler usar, testar para cada type e cada attributo que se deseja preencher
# em seguida utilize a função filler_bruto prestando atenção nos argumentos da função!
dataframe = df

measured_counter = 0
positive_counter = 0
filler = 0 
type_index = 7
attribute = "catsize"

for i in range(len(dataframe["type"])):
    if dataframe["type"][i] == type_index:
        if dataframe[attribute][i] == 1:
            measured_counter += 1
            positive_counter += 1
        elif dataframe[attribute][i] == 0:
            measured_counter += 1
        else:
            pass
if positive_counter/measured_counter >= 0.5:
    filler = 1
else:
    filler = 0 
    
print(filler)

0

In [462]:
# fill type 7

type_index = 7
df_index = ["hair","feathers", "eggs", "milk", "airborne",
            "aquatic", "predator", "toothed", "backbone", "breathes", 
            "venomous", "fins", "tail", "domestic", "catsize"]
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[0], filler=0) #hair
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[1], filler=0) #feathers
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[2], filler=1) #eggs
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[3], filler=0) #milk
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[4], filler=0) #airborne
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[5], filler=1) #aquatic
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[6], filler=1) #predator
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[7], filler=0) #toothed
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[8], filler=0) #backbone
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[9], filler=0) #breathes
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[10], filler=0) #venomous
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[11], filler=0) #fins
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[12], filler=0) #tail
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[13], filler=0) #domestic
type_7_filled = filler_bruto(database=df, t_index=type_index, df_index=df_index[14], filler=0) #catsize

type_7_filled

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
1,antelope,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
2,bass,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0,4
3,bear,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,0.0,0.0,1.0,1
4,boar,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2,1.0,0.0,1.0,1
97,wasp,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,6,0.0,0.0,0.0,6
98,wolf,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4,1.0,0.0,1.0,1
99,worm,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,0.0,7
100,wren,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2,1.0,0.0,0.0,2

In [464]:
df[df.isnull().any(axis=1)].head() # limpo

Empty DataFrame
Columns: [animal, hair, feathers, eggs, milk, airborne, aquatic, predator, toothed, backbone, breathes, venomous, fins, legs, tail, domestic, catsize, type]
Index: []

In [466]:
# Divide, de modo estratificado, o conjunto de dados.

split = StratifiedShuffleSplit(
    n_splits=1,
    test_size=0.2,
    random_state=RANDOM_SEED)
for train_index, test_index in split.split(df, df["type"]):
    strat_train_set = df.loc[train_index]
    strat_test_set = df.loc[test_index]

In [477]:

zoo_train_set = strat_train_set.drop("type", axis=1)
zoo_train_set = zoo_train_set.drop("animal", axis=1)
zoo_train_labels = strat_train_set["type"].copy()

#zoo_train_num = zoo_train_set.drop("legs", axis=1) # categorical
#zoo_train_cat = zoo_train_set["legs"]

zoo_test_set = strat_test_set.drop("type", axis=1)
zoo_test_set = zoo_test_set.drop("animal", axis=1)
zoo_test_labels = strat_test_set["type"].copy()

#zoo_test_num = zoo_test_set.drop("legs", axis=1) # categorical
#zoo_test_cat = zoo_test_set["legs"]

In [500]:
# decision_tree model # classico over-fitting

tree_reg = DecisionTreeRegressor(random_state=RANDOM_SEED)
tree_reg.fit(zoo_train_set, zoo_train_labels)

predicted_labels = tree_reg.predict(zoo_test_set)
print("Predição: {}".format(predicted_labels))
print("Original: {}".format(zoo_test_labels.values))

zoo_predictions = tree_reg.predict(zoo_test_set)
tree_mse = mean_squared_error(zoo_test_labels, zoo_predictions)
tree_rmse = np.sqrt(tree_mse)
print("Regressão linear: RMSE = {:.2f}".format(tree_rmse))

Predição: [5. 2. 4. 2. 1. 1. 4. 6. 1. 4. 7. 1. 1. 7. 1. 2. 3. 6. 1. 1. 2.]
Original: [5 2 4 2 1 1 4 6 1 4 7 1 1 7 1 2 3 6 1 1 2]
Regressão linear: RMSE = 0.00

In [502]:
lin_reg = LinearRegression()
lin_reg.fit(zoo_train_set, zoo_train_labels)

y_pred = lin_reg.predict(zoo_test_set)
lin_rmse = np.sqrt(mean_squared_error(zoo_test_labels, y_pred))
print("Regressão linear: RMSE = {:.2f}".format(lin_rmse))

Regressão linear: RMSE = 0.25

In [504]:
forest_reg = RandomForestRegressor(n_estimators=10, random_state=RANDOM_SEED)

forest_reg.fit(zoo_train_set, zoo_train_labels)

y_pred = forest_reg.predict(zoo_test_set)
forest_rmse = np.sqrt(mean_squared_error(zoo_test_labels, y_pred))
print("Regressão random forest: RMSE = {:.2f}".format(forest_rmse))

Regressão random forest: RMSE = 0.02

In [505]:
# scores lineares
lin_scores = cross_val_score(
    lin_reg,
    zoo_train_set,
    zoo_train_labels,
    scoring="neg_mean_squared_error",
    cv=10,
    n_jobs=-1,
)
lin_rmse_scores = np.sqrt(-lin_scores)

# scores arvore
tree_scores = cross_val_score(
    tree_reg,
    zoo_train_set,
    zoo_train_labels,
    scoring="neg_mean_squared_error",
    cv=10,
    n_jobs=-1,
)
tree_rmse_scores = np.sqrt(-tree_scores)


# scores random forest
forest_scores = cross_val_score(
    forest_reg,
    zoo_train_set,
    zoo_train_labels,
    scoring="neg_mean_squared_error",
    cv=10,
    n_jobs=-1,
)
forest_rmse_scores = np.sqrt(-forest_scores)


def display_scores(scores):
    print("Scores:", scores.round(decimals=2))
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

print('linear')
display_scores(lin_rmse_scores)
print('arvore')
display_scores(tree_rmse_scores)
print('random forest')
display_scores(forest_rmse_scores)

linear
Scores: [0.38 0.24 0.3  0.45 0.46 0.96 0.17 0.29 0.8  0.55]
Mean: 0.4613883235272869
Standard deviation: 0.2382193664245121
arvore
Scores: [0.   0.   0.   0.   0.   0.71 0.   0.5  0.   0.79]
Mean: 0.19976761962286424
Standard deviation: 0.3123986205958897
random forest
Scores: [0.08 0.   0.16 0.18 0.28 0.22 0.13 0.43 0.16 0.59]
Mean: 0.22169560555662432
Standard deviation: 0.1630983092398007

In [520]:

param_grid = [
    # try 6 (2×3) combinations of hyperparameters.
    {
        "n_estimators": [5, 10, 15, 30, 40],
        "max_features": [4, 6, 8, 10, 12],
    },
    # then try 4 (1x2×2) combinations with bootstrap set as False.
    {
        "bootstrap": [False],
        "n_estimators": [30, 35, 40, 50],
        "max_features": [3 ,8, 15],
    },
]

forest_reg = RandomForestRegressor(random_state=RANDOM_SEED)

# train across 5 folds, that's a total of (6+4)*5=50 rounds of training.
grid_search = GridSearchCV(
    forest_reg,
    param_grid,
    cv=5,
    scoring="neg_mean_squared_error",
    return_train_score=True,
    n_jobs=-1,
)

t1 = time.perf_counter()
grid_search.fit(zoo_train_set, zoo_train_labels)
t2 = time.perf_counter()

print(f"Tempo gasto: {t2 - t1:.2f} s")

Tempo gasto: 1.42 s

In [521]:
grid_search.best_params_

{'bootstrap': False, 'max_features': 8, 'n_estimators': 40}

In [522]:
# analise da importância das features

feature_importances = grid_search.best_estimator_.feature_importances_
attributes = list(zoo_train_set)
sorted(zip(feature_importances, attributes), reverse=True)

[(0.4392139670836035, 'backbone'),
 (0.21382976079466798, 'milk'),
 (0.0931455225807035, 'eggs'),
 (0.057461180010917566, 'tail'),
 (0.05373669805634392, 'feathers'),
 (0.042484945669090515, 'toothed'),
 (0.03352445750084786, 'legs'),
 (0.025151198667540408, 'hair'),
 (0.014436068380579824, 'aquatic'),
 (0.01172536901751956, 'airborne'),
 (0.005340839540342853, 'breathes'),
 (0.0039067573069243265, 'fins'),
 (0.0038016013067028232, 'venomous'),
 (0.0013557470484371447, 'predator'),
 (0.0008834978920474011, 'catsize'),
 (2.3891437308867145e-06, 'domestic')]